<%# params: citizen %>
<div class='citizen'>
  <div class='name'><%= citizen.last_name %>, <%= citizen.first_name %></div>
  <div class='gender'><%= citizen.gender %></div>
  <div class='occupation'><%= citizen.occupation %></div>
  <div class='birth_place'><%= citizen.birth_city %>, <%= citizen.birth_state %></div>
  <div class='ssn'><%= citizen.social_security %></div>
  <div style="clear:both"></div>
</div>
