<% if @results.empty? %>
No results matching '<%= @search %>'.
<% else %>
<table>
<tr><td width="30%">Name</td><td width="10%">Gender</td><td width="20%">Occupation</td><td width="20%">Birthplace</td><td width="20%">SSN</td></tr>
<% @results.each do |citizen| %>
<tr class='citizen'>
  <td><%= citizen.last_name %>, <%= citizen.first_name %></td>
  <td><%= citizen.gender %></td>
  <td><%= citizen.occupation %></td>
  <td><%= citizen.birth_city %>, <%= citizen.birth_state %></td>
  <td><%= citizen.social_security %></td>
</tr>
<% end %>
</table>
<% end %>