<% @results.each do |nobelist| %>
<div class='nobelist'>
  <div><img src="<%= nobelist.imageUrl %>"></div>
  <div><%= nobelist.name.gsub(/#{@search}/i, "<span style='background:yellow'>#{@search}</span>") %></div>
  <div><%= nobelist.nobel_year %>, <%= nobelist.discipline %></div>
  <div><%= "Born #{relative_date(nobelist.birthdate)}" if nobelist.birthdate %>
       <%= [nobelist.birth_city, nobelist.birth_state, nobelist.birth_country].compact.join(', ') %>
       <%= nobelist.deceased ? '(deceased)' : '(not deceased)' unless nobelist.deceased.nil? %></div>
  <div><a href="<%= nobelist.url %>"><%= nobelist.url %></a></div>
  <div><%= nobelist.shared ? 'Shared' : 'Not shared' unless nobelist.shared.nil? %> <%= "with #{nobelist.co_winner}" if nobelist.co_winner %></div>
  <div style="clear:both"></div>
</div>
<% end %>
<% if @results.empty? %>
No results matching '<%= @search %>'.
<% end %>